body {
    background-color: #121212;
  }
  h1 {
    color: blue;
  }
  p {
    color: white;
  }

.logocenter { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.sidebar {
  height: 90%;
  width: 97.5%;
  background: #282828;
  padding: 15px;
  border-radius: 18px;
  font-size: 18px;
}

.logo {
  font-size:  25px;
  color: #ffff;
  align-items: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.sidebar a {
  color: white;
  text-decoration: none;
  

}
.menu-title {
  color: white;
  font-size: 20px;
 
  align-items: right;
}

/* unvisited link */
a:link {
color: #04ac84;
}
/* visited link */
a:visited {
color: #04ac84;
}
/* mouse over link */
a:hover {
color: white;
}
/* selected link */
a:active {
color: #04ac84;
}

.allrounder {
  position: relative;
  display: flex;
  

}

.back-to-top {
  background: #282828;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  z-index: 100;
  border-radius: 20px;
}

footer {
	position: fixed;
	padding: 1px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #282828;
	border-color: #282828;
}

footer p {
	float: right;
	margin: 0;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}